__pycache__/
.ipynb_checkpoints/
x86_64/
*.dll
*.o
*.c
*.pt
*.pth
*.mat
*.pkl
*.png
*.jpg
*.npy
*.zip
/cell_inference/resources/detailed/
/cell_inference/resources/simulation_data/
/cell_inference/resources/invivo/
/cell_inference/resources/results/
/stdout/