__pycache__/
.ipynb_checkpoints/
sbi-logs/
*.pkl
backups/
active_geo_params/
active_location_params/
passive_geo_params/
passive_location_params/
*.zip
compiled_graphs/
active_groundtruth.h5
detailed_groundtruth.h5
Results_ActiveGroundTruth_CNN_Passive_locOnly.h5
cell360LFP.h5
*.o
*.c
*.pt
*.pth
*.mat
*.pkl
*.png
*.jpg
*.npy
cell_inference/resources/results/old_run_results/
/cell_inference/resources/results/detailed/
/cell_inference/resources/results/simulation_data/
/cell_inference/resources/results/pytorch_models/
/cell_inference/resources/results/pytorch_losses/
/cell_inference/resources/results/result_data/
/venv/
